{% extends 'html/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class=" container-fluid  abt" style="background-color: rgb(248, 248, 248);">
    <div class="">
        
        <div class="main">
            <div class="content3 ml-5">
              <div class="abt1"  >
                {% comment %} style="  background: linear-gradient(to bottom right, rgba(201, 167, 235, 2), rgba(201, 167, 235, 0));"> {% endcomment %}
              <h1 class="serv2 mt-4" style="font-size: 44px; color: #03045e; display: flex;
              justify-content: center;">About Us</h1>
              <br /><br />
      <div class="para11" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
          <p class="my_self" style="width: 40%; padding-right: 40px; text-align: justify; size: 44px;">
            We Real estate service providers,help you to find the best land/house in your specified 
            categories. We are not just managing properties,we are building relationships, optimizing  
            investments, and shaping the future of real estate management. Join us in this journey, and 
            experience  the difference of having a reliable, forward-thinking partner by your side.
          </p>
          <img class="img1" src="/static/images/aboutpage/About.png" style="width: 500px; border-radius: 15px; height: 350px;" alt="Service image">
      </div>
      <br><br>
      <h2 style="font-size: 44px; color: #03045e;font-style: unset; width:100%; display: flex; justify-content: center;" class="serv2">Our Vision</h2>
      <br /><br />
      <div class="row23" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <img class="img1" src="/static/images/aboutpage/ourvision.png" style="width: 500px; border-radius: 15px; height: 350px;" alt="Vision image">
          <p style="font-size: 24px; width: 40%; padding-left: 40px; text-align: justify;">
          Our vision is to redefine the real estate management landscape by delivering innovative, technology-driven solutions that enhance the value, efficiency, and sustainability of propertiesunder our care. We aim to create lasting partnerships that transcend transactions, focusing on mutualgrowth and success.
          </p>        
      </div>
        <h4>            


              <h2 style="font-size: 44px; color: #03045e;font-style: unset; width:100%;display: flex;justify-content: center;" class="serv2">Experienced Professionals</h2>
                    <br /><br />
                <div class="des" style="width: 80%;margin: auto; border-radius: 20px; border: 2px solid #d9d9d9; padding: 20px 30px;">
                  <p class="my_self" style="font-size: 24px; text-align: justify;">
                    Our team comprises highly skilled professionals who bring a wealth of experience in property management, legal compliance, and tenant relations. With a commitment to continuous learning and staying updated on industry trends, our experts ensure that your properties are managed with the utmost care and expertise.
                  </p>
                </div>
                <br>
                <h2 style="font-size: 44px; color: #03045e;font-style: unset; width:100%; display: flex;justify-content: center;" class="serv2">Ethical and Transparent Practices</h2>
                    <br />
                    <div class="des" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                      <p class="my_self" style="font-size: 24px; width: 40%; padding-right: 40px; text-align: justify;">
                      Integrity is a non-negotiable value for us. We adhere to the highest ethical standards in all our dealings,
                      ensuring transparency in every aspect, reporting, and decision-making. Our commitment to honesty 
                      and fairness builds trust with our clients and partners.
                    </p>
                    <img class="img1" src="/static/images/aboutpage/transparent.jpeg" alt=""  style="width: 500px; border-radius: 15px;height: 350px;">
                    </div>
      
                  </h4>
                  <br />
              </div>
            </div>
            <div class="tp">
              <a href="#">&uarr;</ion-icon></a>
            </div>
          </div>
    </div>
</div>
{% endblock %}