{% extends 'html/base.html' %}
{% block title %}Properties{% endblock %}
{% block content %}
<div class="container-fluid">
    <h3 style="display:flex ;
    justify-content: center;
    font-size: 2rem;"
    class="my-3">All Properties</h3>
    <div class="row">
        {% for property in z1 %}
            <div class="col-md-3 mt-4 mx-auto">       
                <div class="card shadow-lg" style="border-radius: 5%;">
                    <img class="card-img-top" src="{{ property.main_photo.url }}" alt="Property Image" style="width:100%;
                    border-radius: 5%; height: 35vh;">
                    <div class="card-body">
                        <h4 class="card-title" style="display: flex; justify-content: center;">{{ property.proptitle }}</h4>
                        <p class="card-text">{{ property.propdesc }}</p>
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'apropdet' property.id %}" class="btn btn-outline-primary form-control">Details</a> 
                            </div>
                            <div class="col">
                                {% if property.propsoldto %}
                                    <a href="{% url 'soldet' property.id %}" class="btn btn-danger form-control">Sold</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <br>
</div>
{% endblock %}
