{% extends 'html/base.html' %}
{% block title %}Property details{% endblock %} 
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="card mx-auto shadow-lg">
                <div class="card-body">
                    <h4 class="mb-2" style="display: flex; justify-content: center;"><u>Seller Details</u></h4>
                    <p><b>Property Title : </b>{{y3.proptitle}}</p>
                    {% if y3.proptype == "1" %}
                        <p><b>Type : </b>Residential</p>
					{% elif y3.proptype == "2" %}
                        <p><b>Type : </b>Commercial</p>
					{% elif y3.proptype == "3" %}
                        <p><b>Type : </b>Agricultural</p>
					{% elif y3.proptype == "4" %}
                        <p><b>Type : </b>Industrial</p>
					{% endif %}
                    <p><b>ID : </b>{{y1.eid}}</p>
                    <p><b>First Name : </b>{{y1.first_name}}</p>
                    <p><b>Last Name : </b>{{y1.last_name}}</p>
                    {% if y1.gdr == "1" %}
                        <p><b>Gender : </b>Male</p>
                    {% elif y1.gdr == "2" %}
                        <p><b>Gender : </b>Female</p>
                    {% endif %}
                    <p><b>Mobile No : </b>{{y1.mble}}</p>
                    <p><b>Email : </b>{{y1.email}}</p>
                    <p><b>Document : </b><a href="{{y3.propdoc.url}}" target="_blank">Link</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto shadow-lg">
                <div class="card-body">
                    <h4 style="display: flex; justify-content: center;"><u>Buyer Details</u></h4>
                    <p><b>ID : </b>{{y2.eid}}</p>
                    <p><b>First Name : </b>{{y2.first_name}}</p>
                    <p><b>Last Name : </b>{{y2.last_name}}</p>
                    {% if y2.gdr == "1" %}
                        <p><b>Gender : </b>Male</p>
                    {% elif y2.gdr == "2" %}
                        <p><b>Gender : </b>Female</p>
                    {% endif %}
                    <p><b>Mobile No : </b>{{y2.mble}}</p>
                    <p><b>Email : </b>{{y2.email}}</p>
                    <div class="row">
                        <div class="col">
                            {% if request.user.is_superuser %}
                                <a href="{% url 'allprops' %}" class="btn btn-outline-info form-control">Back</a>
                            {% elif  request.user.role_type == "2" %}
                                <a href="{% url 'mp' %}" class="btn btn-outline-info form-control">Back</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}
